%section.about
  .row.hero
    .large-12.columns-centered
      %h3 About Me
      %p Here's some writing about myself and whatnot. It's a lot of text and no one is going to care to read it. Whoop-de-doo!
      -# %a.button.hero{:href => "#contact"} Contact
