%section.about
  .row.hero
    .large-12.columns-centered
      .medium-6.columns
        %img{:src => "images/cleavy_headshot.jpg"}/
      .medium-6.columns
        %h3 About Me
        .orangehr
        %p Here's some writing about myself and whatnot. It's a lot of text and no one is going to care to read it. Whoop-de-doo! And some more text. I was born in California and it was like WOAH. I like photography and learning and being alone and my husband, George.
        -# %a.button.hero{:href => "#contact"} Contact
