%section#about
  .row.about
    .large-12.columns-centered
      .medium-6.columns
        %img{:src => "images/cleavy_headshot.jpg"}/
      .medium-6.columns
        %h3 About Me
        .orangehr
        %p My name is Amber and I love problem solving with code. I work in Ruby and Javascript, and build stuff for the web and mobile with Rails, AngularJS and Ionic.
        %p I work currently as a coach, developer and marketer at Craft Academy, a programming bootcamp. I attended this bootcamp not so long ago and learned not just the technologies listed above, but also Agile and Test Driven Development methodology and soft skills like pair programming and design sprint strategies.
        %p Before starting my new life as a developer, I ran a solo business in Washington, DC photographing weddings. Past experience includes editorial work at a trade union newspaper. And I threw myself at learning Swedish before I started the bootcamp, so I can more or less do that, too. I'm also a pretty good cook, frequent traveler, avid reader, pot-thrower, yogi and extremely bad at playing guitar.
        %img{src:'https://www.codewars.com/users/AmberWilkie/badges/large'}
