%section#about
  .row.hero
    .large-12.columns-centered
      .medium-6.columns
        %img{:src => "images/cleavy_headshot.jpg"}/
      .medium-6.columns
        %h3 About Me
        .orangehr
        %p My name is Amber and I code as much as possible all the time. At least since starting bootcamp, anyway. I live in Gothenburg, Sweden, where it rains as much as possible.
        %p Here at bootcamp they're teaching us "coding as a craft", filling our heads with not just Ruby and Javascript, and tools like Rails and AngularJS, but Agile and Test Driven Development methodology so we will be ready to jump into real world projects from day one.
        %p I most recently ran a solo business in Washington, DC photographing weddings. Past experience includes editorial work at a trade union newspaper. I'm also a pretty good cook, frequent traveler, avid reader, pot-thrower, hobby-dabbler and   
