.row.grayfooter#contact
  .large-3.columns.footofawesome
    &nbsp;
  .large-3.columns.footofawesome
    %h5.h5foot Contact
    .tinyhr
    <html lang="sv">Göteborg</html>, Sverige
    %br/
    0720 08 27 07
    %br/
    amber@amberwilkie.com
    %br/
    %a.footofawesome{:href => "http://www.amberwilkie.com", :target => "_new"} amberwilkie.com
  .large-3.columns.footofawesome
    %p I'm just in bootcamp right now, but I graduate at the end of October and I've been busting ass. I will no doubt continue to bust ass to be the best possible junior developer candidate for #{content_tag(:em, "your")} company. Onward!
  .large-3.columns.footofawesome
    &nbsp;
