.row.grayfooter
  .large-3.columns.footofawesome
    &nbsp;
  .large-3.columns.footofawesome
    %h5.h5foot Contact
    .tinyhr
    Göteborg, Sverige
    %br/
    0720 08 27 07
    %br/
    amber@amberwilkie.com
  .large-3.columns.footofawesome
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!
  .large-3.columns.footofawesome
    &nbsp;
