.row.grayfooter#contact
  .large-3.columns.footofawesome
    &nbsp;
  .large-3.columns.footofawesome
    %h5.h5foot Contact
    .tinyhr
    <html lang="sv">Göteborg</html>, Sverige
    %br/
    0720 08 27 07
    %br/
    amber@amberwilkie.com
    %br/
    %a.footofawesome{:href => "http://www.amberwilkie.com", :target => "_new"} amberwilkie.com
  .large-3.columns.footofawesome
    %p Always learning, always levelling up, always growing. We've only got the one life!
  .large-3.columns.footofawesome
    &nbsp;
