.row.grayfooter
  .small-12.medium-3.columns
    %i.fi-laptop
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!
  .small-12.medium-3.columns
    %i.fi-html5
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!

  .small-12.medium-3.columns
    %h4 Follow Me
    %ul.footer-links
      %li
        %a{:href => "#"} GitHub
      %li
        %a{:href => "#"} Facebook
      %li
        %a{:href => "#"} Twitter
      %li
        %a{:href => "#"} Instagram
      %li
        %a{:href => "#"} LinkedIn
