.top-bar-container.sticky-container{"data-sticky-container" => ""}
  .row.graynav
    .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}
      .title-bar-title Menu of Awesome
    #main-menu.top-bar
      .top-bar-left
        %img.logo{:src => "/images/logo.png"}
      .top-bar-right
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %ul.menu.social{"data-responsive-menu" => "drilldown small-dropdown"}
            %li
              %a{:href => "#projects"} Projects
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li
              %a{:href => "#"} @
              %ul.menu{"data-submenu" => ""}
                %li
                  %a{:href => "#"} F
                %li
                  %a{:href => "#"} Li
                %li
                  %a{:href => "#"} I
